
<%- include('partials/head') %> 

  <body>
    <h1>Home Page :)</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis nulla
      optio magnam molestiae. Cumque, aspernatur perferendis laboriosam, ipsa,
      quidem praesentium repudiandae earum asperiores commodi facere enim
      excepturi vel numquam voluptates!
    </p>

    <h2>Using EJS syntax</h2>
    <%= 4 + 6 %>
  </body>
</html>
